*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.header .navbar ul li{
  display:inline-block;
  padding-left: 2rem;
  font-size: 1.2rem;
}
/* banner */
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.steph{
  height: 70vh;
  position: relative;
}

.steph img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.steph .steph-container{
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 999;
  transition: ease .5s;
}
.steph .like{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  opacity: .2;
}
.card {
  position: relative;
  width: 100%;
  border: 1px solid #000;
}
.card img{
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.card .card-body{
  height: 100%;
  width: 100%;
}
.socials li{
  display: inline;
  padding-left: .7rem;
}
.cart{
   overflow-x: hidden;
}
.table{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.table table{
  width: 100%;
  align-items: center;
  text-align: center;
}
.table table td,
.table table th{
  padding: .8rem;
}
.table table td form input{
  width: 3rem;
  border: none;
  outline:none ;
}
.cform{
  width: 100%;
  margin: 1rem;
}
.cform form{
  padding: 2rem;
}
.cform form div{
  margin-bottom: 1rem;
}
.cform form input{
  width: 100%;
  padding: .8rem;
  border-radius: 12px;
  border: 1px solid #c3c3c3;
  outline: none;
}

.cform form input[type="text"]{
  background-color: white;
}
/* about */
.line1{
  border-bottom: 1px solid burlywood;
  width: 5%;
  margin-top: 4px;
  margin-left: 36rem;
}

.line2{
  border-bottom: 1px solid burlywood; 
 width: 16%;
 margin-top: 4px;
 margin-left: 32rem;
}

.state p{
  font-size: xx-large;
  font-family: sans-serif;
  color: #333;
}
.state h5{
  color: gray;
}
.banner .teams h1{
   padding: 0.3rem 1rem;
   border-radius: 30px;
}
.banner .circle{
  padding: 8rem;
}
.banner p{
   width: 50%;
}

/* login */
form input[type="text"]{
  width: 100%;
  padding: 0.8rem;
  /* background-color: #ff6a95; */
  outline: none;
  border-radius: 10px;
}

button:disabled {
  background-color: #333;
  cursor: auto;
  color: #cccccc;
}

form .user input[type="email"]{
   width: 100%;
   padding: 0.8rem;
   background-color: whitesmoke;
   margin-bottom: 1rem;
   outline: none;
   border-radius: 10px;
}

form .password input[type="password"]{
     width: 100%;
     padding: 0.8rem;
     background-color: whitesmoke;
     outline: none;
     border-radius: 10px;
}
form .password div{
  display: block;
}
form .user div{
  display: block;
}
/* signup */
.signup{
  background-color: whitesmoke;
  border-radius: 10px;
}
.signup form input[type="text"],
.signup form input[type="tel"],
.signup form input[type="password"],
.signup form input[type="email"]{
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 3px;
  outline: 1px  black;
}

.signup form  div{
  display: block;
  padding-bottom: 1rem;
}
.signup form button{
  width: 100%;
  padding: 0.3rem;
  border-radius: 3px;
}
.signup form p{
  color: gray;
  padding-top: 1rem;
}

.signup form .log{
  width: 100%;
  padding: 0.3rem 9rem;
  border-radius: 3px;
  border: 1px solid purple;
  color: purple;
}
.signup form .log:hover{
  background-color: purple;
  color: white;
}
/* Loader */
#wifi-loader {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
 